.product {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.4);

  > img {
    width: 100%;
    height: 50%;
    object-fit: fill;
  }

  .product-content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;

    h1 {
      height: 30%;
      display: block;
      font-size: 22px;
      color: crimson;
      padding: 10px;
    }

    .product-details {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      .left-details {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .rate {
          display: flex;
          align-items: center;
        }
      }

      .right-details {
        display: flex;
        flex-direction: column;
        gap: 15px;

        button {
          border: none;
          cursor: pointer;
          padding: 5px;
          background: crimson;
          color: #fff;
          border-radius: 5px;
          box-shadow: 0 5px 10px rgba(200, 0, 0, 0.4);
        }

        button:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
